$color-primary: rgba(208, 3, 63);
$color-primary-hover: rgba(208, 3, 63, 0.8);
$color-secondary: rgba(0, 139, 139);
$color-warning: rgba(255, 0, 0);
$color-success: rgb(125, 218, 125);
$color-danger: rgba(255, 0, 0);
$color-secondary-hover: rgba(0, 139, 139, 0.8);
$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(247, 247, 247);
$background-inverted: transparent;
$color-text: #2d2d2d;
$text-inverted: rgb(255, 255, 255);
$border-color: #dadada;