@import "../styling/vars.scss";

.ratingbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 16px;
  margin: 0 0 0.4rem 0;

  span {
    font-size: .9rem;
    font-weight: $font-weight--bold;
    line-height: .9rem;
  }
}
